<!doctype html>
<head>
    <title>Food Ordering</title>

    <!-- Skeleton -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css" />

    <!-- Custom -->
    <link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

    {% block extracss %}{% endblock extracss %}

    {% block extrajs %}{% endblock extrajs %}
</head>
<body>
    <div class="container">
        <div class="four columns">
            <nav>
                <h3>Food App</h3>
                <ul>
                    <li><a href="{% url url_homepage %}">Place order</a></li>
                    <li><a href="{% url url_user_orders username=user %}">Order History</a></li>
            </nav>
        </div>

        <div class="eleven columns offset-by-one">
            {% block content %}{% endblock content %}
        </div>
    </div>
</body>
</html>