<!doctype html>
<head>
    <title>Food Ordering</title>

    <!-- Skeleton -->
    <style rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
    <style rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
    <style rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css" />

    <!-- Custom -->
    <style rel="stylesheet" href="{{ STATIC_URL }}css/style.css" />

    {% block extracss %}{% endblock extracss %}

    {% block extrajs %}{% endblock extrajs %}
</head>
<body>
    <div class="container">
        
</body>
</html>