{% extends 'foodapp/base.html' %}

{% block content %}
{% if title %}
<h1>{{ title }}</h1>
{% else %}
<h1>Order History</h1>
{% endif %}
{% if counts %}
    {% for key, value in counts %}
        <p><h3>{{ key }}:</h3> {{ value }}</p>
    {% endfor %}
{% endif %}
{% if error %}
<h4 class="errorlist">{{ error }}</h4>
{% endif %}
{% if orders %}
    {% if rice_quantity %}
        <h3>{{ rice_quantity }} cups of rice needed.</h3>
    {% endif %}
    {% for order in orders %}
    <h4>{{ order }} <span style="font-size: .7em">by {{ order.user }}</span></h4>
    {% endfor %}
{% else %}
    <h4>No orders today :(</h4>
{% endif %}
{% endblock content %}