{% extends "foodapp/base.html" %}

{% load bootstrap_toolkit %}

{% block content %}
    <div class="row">
        <div class="span8">
            <h2>Place your order</h2>
            <form class="form-horizontal" method="post">
                {% csrf_token %}
                {{ form|as_bootstrap:"horizontal" }}
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
